<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews

    RewriteEngine On
    RewriteBase /api/webapi/apifiles/

    # If the request is for “jilihandler” or “jilihandler/…”, rewrite to jilihandler.php
    RewriteRule ^jilihandler(?:/(.*))?$ jilihandler.php/$1 [L,QSA]
</IfModule>